 {% extends 'base.html' %}

{% block content %}
<p>添加订阅</p>


    <form method="post">
         <p>账 号  <input type="text"  name="account" autocomplete="on" ></p>
         <p>appId    <input type="text" name="client_id" autocomplete="on" required></p>
         <p>password <input type="text" name="client_secret" autocomplete="on" required></p>
         <p>tenant   <input type="text" name="tenant_id" autocomplete="on" required></p>
         <p>sub订阅<input type="text"  name="subscription_id" autocomplete="on" required></p>
    <input class="btn" type="submit" name="submit" value="添加" >
    </form>
{% endblock %}
