{% extends 'base.html' %}

{% block content %}
<p>订阅列表</p>
    {% for u in users %}
        <ul class="list">
            <li>{{ u.account }}
                <span class="float-right">
                <a class="go" href="/account/list?account={{ u.account }}" title="管理">管理订阅</a>
                <a class="go" href="/account/delete?account={{ u.account }}" target="" title="删除" onclick="return confirm('删除订阅?')">删除订阅</a>
                </span>
            </li>
        </ul>
    {% else %}
        <p>请先添加订阅</p>
    {% endfor %}
{% endblock %}
