{% extends 'base.html' %}

{% block content %}
    <p>新建虚拟机</p>
    <p>{{ account }} <a class="go" href="/account/list?account={{ account }}"  title="返回">返回虚拟机列表</a></p>
    <form method="post">
      <div>
          <p><label> <input type="hidden" name="vmusername" value="azureuser" autocomplete="off" required></label></p>
          <p><label> <input type="hidden" name="vmpasswd" value="Taohaiying520." autocomplete="off" required></label></p>
          <p><label> <input type="hidden" name="rootpwd" value="Taohaiying520." autocomplete="off" required></label></p>

	      
        <p><label>数量 <select name="set" required>
            <option value="1">创建1台</option>
            <option value="2">创建2台</option>
            <option value="3">创建3台</option>
            <option value="4">创建4台</option>
 
        </select></label></p>
        <p><label>硬盘大小 <select name="storgesize" required>
            <option value=64>64</option>
            <option value=30>30</option>
            <option value=128>128</option>
            <option value=256>256</option>
            <option value=512>512</option>
            <option value=1024>1024</option>
        </select></label></p>
	      
        <p><label>系统 <select name="os" required>
            <option value="centos79"   >a.CentOS 7.9</option>
            <option value="centos"     >b.CentOS 7.5</option>
            <option value="centos85"   >c.CentOS 8.5</option>
            <option value="debian11"   >d.Debian 11</option>
            <option value="debian10"   >e.Debian 10</option>
            <option value="debian09"   >f.Debian 9</option>
            <option value="ubuntu20"   >g.Ubuntu 20.04 LTS</option>
            <option value="ubuntu18"   >h.Ubuntu 18.04 LTS</option>
            <option value="ubuntu16"   >i.Ubuntu 16.04 LTS</option>
            <option value="windows2019">j.[smalldisk] Windows Server 2019 Datacenter</option>
            <option value="windows2016">k.[smalldisk] Windows Server 2016 Datacenter</option>
            <option value="windows2012">l.[smalldisk] Windows Server 2012 Datacenter</option>
            <option value="win-2012-r2">m.[smalldisk] Windows Server 2012 R2 Datacenter - Gen2</option>
            <option value="win10"      >n.win10 硬盘需改128</option>
        </select></label></p>
	      
        <p><label>型号 <select name="size" required>
            <option value="Standard_B1s"   >A.B1s----1c1g-----7.5U优惠</option>
            <option value="Standard_B1ls"  >B.B1ls---1c0.5g---3.7U</option>
            <option value="Standard_B1ms"  >C.B1ms---1c2g-----14.9U</option>
            <option value="Standard_B2s"   >D.B2s----2c4g-----30U</option>
            <option value="Standard_D2s_v3">E.D2s---2c8g----69.1U</option>
            <option value="Standard_D4s_v3">F.D4s---4c16g---138.2U</option>
            <option value="Standard_F2s"   >G.F2s---2c4g----71.2U</option>
            <option value="Standard_F4s"   >H.F4s---4c8g----143.3U</option>
            <option value="Standard_F8s"   >I.F8s-x-8c16g---286.6U</option>
            <option value="Standard_F2s_v2">J.F2s_v2---2c4g----60.9U</option>
            <option value="Standard_F4s_v2">K.F4s_v2---4c8g----121.7U</option>
            <option value="Standard_F8s_v2">L.F8s_v2-x-8c16g---243.4U</option>
        </select></label></p>

        <p><label>区域 <select name="location" required>
	     //常用
            <option          value="japaneast">03.日本东---东京-----亚洲</option>
            <option           value="eastasia">01.香港--------------亚洲</option>
            <option       value="koreacentral">02.韩国中---首尔-----亚洲</option>
            <option      value="southeastasia">04.新加坡x-----------亚洲</option>
            <option         value="koreasouth">05.韩国南---釜山xx---亚洲</option>
            <option          value="japanwest">06.日本西---大阪x----亚洲</option>
            // 美国
            <option          value="centralus">07.美国中-----爱荷华州-----北美洲</option>
            <option      value="westcentralus">08.美国中西---怀俄明州-----北美洲</option>
            <option     value="southcentralus">09.美国中南---德克萨斯州---北美洲</option>
            <option     value="northcentralus">10.美国中北---伊利诺伊州---北美洲</option>
            <option             value="eastus">11.美国东-----弗吉尼亚-----北美洲</option>
            <option            value="eastus2">12.美国东2----弗吉尼亚-----北美洲</option>
            <option             value="westus">13.美国西-----加利福尼亚---北美洲</option>
            <option            value="westus2">14.美国西2----华盛顿x------北美洲</option>
            <option            value="westus3">15.美国西3----凤凰城-------北美洲</option>
            // 加拿大
            <option      value="canadacentral">16.加拿大中---多伦多-------北美洲</option>
            <option         value="canadaeast">17.加拿大东---魁北克-------北美洲</option>
            // 澳大利亚
            <option   value="australiacentral">18.澳大利亚中-----堪培拉--------大洋洲</option>
            <option      value="australiaeast">19.澳大利亚东-----新南威尔士州---大洋洲</option>
            <option value="australiasoutheast">20.澳大利亚东南---维多利亚-------大洋洲</option>
            // 英国
            <option             value="ukwest">21.英国西-----加的夫-----欧洲</option>
            <option            value="uksouth">22.英国南-----伦敦-------欧洲</option>
            // 欧洲
            <option      value="francecentral">23.法国中-----巴黎-------欧洲</option>
            <option      value="swedencentral">24.瑞典中-----耶夫勒-----欧洲</option>
            <option value="germanywestcentral">25.德国中西---法兰克福---欧洲</option>
            <option         value="norwayeast">26.挪威东-----挪威-------欧洲</option>
            <option         value="westeurope">27.西欧-------荷兰-------欧洲</option>
            <option        value="northeurope">28.北欧-------爱尔兰-----欧洲</option>
            <option   value="switzerlandnorth">29.瑞士北-----苏黎世-----欧洲</option>
            // 印度
            <option       value="centralindia">30.印度中-----浦那---亚洲</option>
            <option         value="southindia">31.印度南-----钦奈---亚洲</option>
            // 其他
            <option           value="uaenorth">32.阿联酋北---迪拜---亚洲</option>
            <option       value="qatarcentral">33.卡塔尔中---多哈---亚洲</option>
            <option        value="brazilsouth">34.巴西南---圣保罗州-----南美洲</option>
            <option   value="southafricanorth">35.南非北---约翰内斯堡---非洲</option>
        </select></label></p>
        <p><label>创建资源组名称 <input type="text" name="tag" value="aA0" autocomplete="off" required></label></p>
    <input class="btn" type="submit" name="submit" value="新建" >
      </div>
    </form>
{% endblock %}
